<div (click)="downloadRankings()" class="ui right floated small blue labeled icon button" id="import">
  <i class="save icon"></i> Download
</div>
<div *ngIf="!oprReady()" class="ui pointing below red basic label">
  OPR could not be calculated
</div>
<table class="ui fixed table">
  <thead>
    <tr>
      <th class="single line">Rank</th>
      <th>Team</th>
      <th *ngIf="oprReady()">OPR</th>
      <th>QP</th>
      <th>RP</th>
    </tr>
  </thead>
  <tbody id="rankingsTable">
    <tr *ngFor="let team of rankings">
      <td>{{ rankings.indexOf(team) + 1 }}</td>
      <td>{{ team.number }}</td>
      <td *ngIf="oprReady()">{{ team.opr.toFixed(2) }}</td>
      <td>{{ team.qp }}</td>
      <td>{{ team.rp }}</td>
    </tr>
  </tbody>
</table>
